@model DiscountViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Discount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DiscountRate" class="control-label">Discount Rate</label>
                <input type="range" step="5" value="5" min="5" max="100" oninput="this.nextElementSibling.value = this.value" asp-for="DiscountRate" class="form-control" />
				<output>5</output>
                <span asp-validation-for="DiscountRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidFrom" class="control-label">Valid From</label>
                <input type="date" value="@DateTime.Now" asp-for="ValidFrom" class="form-control" />
                <span asp-validation-for="ValidFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidUntil" class="control-label">Valid Until</label>
                <input type="date" value="@DateTime.Now" asp-for="ValidUntil" class="form-control" />
                <span asp-validation-for="ValidUntil" class="text-danger"></span>
            </div>
            <input type="hidden" name="productId" value="@Model.ProductId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-productId="@Model.ProductId">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
