@{
    ViewData["Title"] = "About Us";
}
<section class="section section--bg section--first" data-bg="img/bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__title-wrap">
                    <h2 class="section__title section__title--title"><b>About</b> Us</h2>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-sm-6">
                <div class="card card--big">
                    <a href="https://www.linkedin.com/in/maliragipcakir/" target="_blank" class="card__cover">
                        <img src="~/img/creators/marc.jpg" style="width: 200px; border-radius: 50%; alt="marcPP">
                    </a>
                    <div class="card__wrap">
                        <div class="card__title">
                            <h3>M. Ali Ragıp Çakır</h3>
                        </div>
                        <ul class="card__list">
                            <li><span>Software Developer</span></li>
                            <li><span>Mood:</span> Debuggin'</li>
                        </ul>
                        <ul class="card__platforms">
                            <li class="ps">
						        <a href="https://github.com/MAliRagipCakir" target="_blank" style="pointer-events: auto;">
						            <img src="~/img/GitHub-Mark-32px.png" alt="githubLogo" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="col-sm-6">
                <div class="card card--big">
                    <a href="https://www.linkedin.com/in/seda-ahi/" target="_blank" class="card__cover">
                        <img src="~/img/creators/seda.jpg" style="width: 200px; border-radius: 50%;" alt="sedaPP">
                    </a>
                    <div class="card__wrap">
                        <div class="card__title">
                            <h3>Seda Ahi</h3>
                        </div>
                        <ul class="card__list">
                            <li><span>Software Developer</span></li>
                            <li><span>Mood:</span> Cheerful</li>
                        </ul>
                        <ul class="card__platforms">
                            <li class="ps">
						        <a href="https://github.com/sedaahi" target="_blank" style="pointer-events: auto;">
						            <img src="~/img/GitHub-Mark-32px.png" alt="githubLogo" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-sm-6">
                <div class="card card--big">
                    <a href="https://www.linkedin.com/in/omerfeker/" target="_blank" class="card__cover">
                        <img src="~/img/creators/omer.png" style="width: 200px;" alt="omerPP">
                    </a>
                    <div class="card__wrap">
                        <div class="card__title">
                            <h3>Ömer Eker</h3>
                        </div>
                        <ul class="card__list">
                            <li><span>Software Developer</span></li>
                            <li><span>Mood:</span> Chill</li>
                        </ul>
                        <ul class="card__platforms">
                            <li class="ps">
						        <a href="https://github.com/omerfe/" target="_blank" style="pointer-events: auto;">
						            <img src="~/img/GitHub-Mark-32px.png" alt="githubLogo" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="col-sm-6">
                <div class="card card--big">
                    <a href="https://www.linkedin.com/in/sina-emre-bekar-3734ab1b2/" target="_blank" class="card__cover">
                        <img src="~/img/creators/sina.png" style="width: 200px; border-radius: 50%" alt="sinaPP">
                    </a>
                    <div class="card__wrap">
                        <div class="card__title">
                            <h3>Sina Emre Bekar</h3>
                        </div>
                        <ul class="card__list">
                            <li><span>Software Developer</span></li>
                            <li><span>Mood:</span> Full of action</li>
                        </ul>
                        <ul class="card__platforms">
                            <li class="ps">
						        <a href="https://github.com/sinaemre" target="_blank" style="pointer-events: auto;">
						            <img src="~/img/GitHub-Mark-32px.png" alt="githubLogo" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>