<section class="section mt-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sort">
                    <div class="filter__group filter__group--sort">
                        <label for="genres" class="filter__label">Genres:</label>
                        <div class="filter__select-wrap">
                            <select name="genres" id="genres" class="filter__select">
                                <option value="0">All Categories</option>
                                <option value="1">Action</option>
                                <option value="3">Adventure</option>
                                <option value="4">Fighting</option>
                                <option value="5">Flight simulation</option>
                                <option value="6">Platform</option>
                                <option value="7">Racing</option>
                                <option value="8">RPG</option>
                                <option value="9">Sports</option>
                                <option value="10">Strategy</option>
                                <option value="11">Survival horror</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter__group filter__group--sort">
                        <label for="genres" class="filter__label">Platforms:</label>
                        <div class="filter__select-wrap">
                            <select name="genres" id="genres" class="filter__select">
                                <option value="0">All Platforms</option>
                                <option value="1">Steam</option>
                                <option value="3">Epic Games</option>
                                <option value="4">XBOX</option>
                            </select>
                        </div>
                    </div>

                    <div class="filter__group filter__group--sort">
                        <label for="sort" class="filter__label">Sort by:</label>

                        <div class="filter__select-wrap">
                            <select name="sort" id="sort" class="filter__select">
                                <option value="0">Default</option>
                                <option value="1">Price ↑</option>
                                <option value="2">Price ↓</option>
                                <option value="3">Popularity ↑</option>
                                <option value="4">Popularity ↓</option>
                            </select>
                        </div>
                    </div>
                    <div class="nav-item ml-auto mr-3">
                        <a href="#" class="header__login nav-link" style="width:10rem;">Submit</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- catalog -->
        <div class="row category">
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/5.jpg" alt="">

                    </a>

                    <ul class="card__platforms">
                        <li class="ps" style="background-color:white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Steam</title>
                                <path data-name="layer1"
                                      d="M31.945 0A32.028 32.028 0 0 0 0 29.433l17.181 7.091a9.021 9.021 0 0 1 5.106-1.574q.256 0 .505.014l7.642-11.057v-.155a12.088 12.088 0 1 1 12.088 12.07h-.275l-10.9 7.76c.007.144.012.288.012.429a9.075 9.075 0 0 1-17.97 1.786L1.1 40.72A32.047 32.047 0 1 0 31.945 0z"
                                      fill="#202020"></path>
                                <path data-name="layer1" d="M20.088 48.555l-3.937-1.625a6.8 6.8 0 1 0 3.725-9.293l4.069 1.679a5.005 5.005 0 1 1-3.857 9.238zm30.489-24.803a8.055 8.055 0 1 0-8.054 8.04 8.059 8.059 0 0 0 8.054-8.04zm-14.093-.013a6.051 6.051 0 1 1 6.05 6.039 6.045 6.045 0 0 1-6.049-6.04z"
                                      fill="#202020"></path>
                            </svg>
                        </li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Desperados III Digital Deluxe Edition</a></h3>
                        <span>$49.00</span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/5.jpg" alt="">
                    </a>

                    <ul class="card__platforms">
                        <li>
                            <a title="Epic Games, Public domain, via Wikimedia Commons"
                               href="https://commons.wikimedia.org/wiki/File:Epic_games_store_logo.svg"><img width="20" alt="Epic games store logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Epic_games_store_logo.svg/32px-Epic_games_store_logo.svg.png"></a>
                        </li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Desperados III Digital Deluxe Edition</a></h3>
                        <span>$39.00</span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/7.jpg" alt="">
                    </a>

                    <ul class="card__platforms">
                        <li>
                            <a title="Epic Games, Public domain, via Wikimedia Commons"
                               href="https://commons.wikimedia.org/wiki/File:Epic_games_store_logo.svg"><img width="20" alt="Epic games store logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Epic_games_store_logo.svg/32px-Epic_games_store_logo.svg.png"></a>
                        </li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Red Dead Redemption 2</a></h3>
                        <span>$7.99 <s>$19.99</s></span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/7.jpg" alt="">
                    </a>

                    <ul class="card__platforms">
                        <li class="xb"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M126.8,248.3c39.7-58.6,77.9-92.8,77.9-92.8s-42.1-48.9-92.8-67.4l-3.3-.8A224.13,224.13,0,0,0,77.2,391C77.2,386.6,77.8,320.7,126.8,248.3Z' /><path d='M480,256A223.71,223.71,0,0,0,403.4,87.3l-3.2.9c-50.7,18.5-92.9,67.4-92.9,67.4s38.2,34.2,77.9,92.8c49,72.4,49.6,138.3,49.5,142.7A222.8,222.8,0,0,0,480,256Z' /><path d='M201.2,80.9c29.3,13.1,54.6,34.6,54.6,34.6s25.5-21.4,54.8-34.6c36.8-16.5,64.9-11.3,72.3-9.5a224.06,224.06,0,0,0-253.8,0C136.3,69.6,164.3,64.3,201.2,80.9Z' /><path d='M358.7,292.9C312.4,236,255.8,199,255.8,199s-56.3,37-102.7,93.9c-39.8,48.9-54.6,84.8-62.6,107.8l-1.3,4.8a224,224,0,0,0,333.6,0l-1.4-4.8C413.4,377.7,398.5,341.8,358.7,292.9Z' /></svg></li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Red Dead Redemption 2</a></h3>
                        <span>$19.99</span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/1.jpg" alt="">

                    </a>

                    <ul class="card__platforms">

                        <li class="xb"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M126.8,248.3c39.7-58.6,77.9-92.8,77.9-92.8s-42.1-48.9-92.8-67.4l-3.3-.8A224.13,224.13,0,0,0,77.2,391C77.2,386.6,77.8,320.7,126.8,248.3Z' /><path d='M480,256A223.71,223.71,0,0,0,403.4,87.3l-3.2.9c-50.7,18.5-92.9,67.4-92.9,67.4s38.2,34.2,77.9,92.8c49,72.4,49.6,138.3,49.5,142.7A222.8,222.8,0,0,0,480,256Z' /><path d='M201.2,80.9c29.3,13.1,54.6,34.6,54.6,34.6s25.5-21.4,54.8-34.6c36.8-16.5,64.9-11.3,72.3-9.5a224.06,224.06,0,0,0-253.8,0C136.3,69.6,164.3,64.3,201.2,80.9Z' /><path d='M358.7,292.9C312.4,236,255.8,199,255.8,199s-56.3,37-102.7,93.9c-39.8,48.9-54.6,84.8-62.6,107.8l-1.3,4.8a224,224,0,0,0,333.6,0l-1.4-4.8C413.4,377.7,398.5,341.8,358.7,292.9Z' /></svg></li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Dandara: Trials of Fear Edition</a></h3>
                        <span>$18.00</span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Pre-order</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/1.jpg" alt="">

                    </a>

                    <ul class="card__platforms">

                        <li>
                            <a title="Epic Games, Public domain, via Wikimedia Commons"
                               href="https://commons.wikimedia.org/wiki/File:Epic_games_store_logo.svg"><img width="20" alt="Epic games store logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Epic_games_store_logo.svg/32px-Epic_games_store_logo.svg.png"></a>
                        </li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Dandara: Trials of Fear Edition</a></h3>
                        <span>$15.00</span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Pre-order</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/8.jpg" alt="">

                    </a>

                    <ul class="card__platforms">
                        <li>
                            <a title="Epic Games, Public domain, via Wikimedia Commons"
                               href="https://commons.wikimedia.org/wiki/File:Epic_games_store_logo.svg"><img width="20" alt="Epic games store logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Epic_games_store_logo.svg/32px-Epic_games_store_logo.svg.png"></a>
                        </li>

                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Druidstone: The Secret of the Menhir Forest</a></h3>
                        <span>$12.49</span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/3.jpg" alt="">
                    </a>

                    <ul class="card__platforms">
                        <li class="ps" style="background-color:white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Steam</title>
                                <path data-name="layer1"
                                      d="M31.945 0A32.028 32.028 0 0 0 0 29.433l17.181 7.091a9.021 9.021 0 0 1 5.106-1.574q.256 0 .505.014l7.642-11.057v-.155a12.088 12.088 0 1 1 12.088 12.07h-.275l-10.9 7.76c.007.144.012.288.012.429a9.075 9.075 0 0 1-17.97 1.786L1.1 40.72A32.047 32.047 0 1 0 31.945 0z"
                                      fill="#202020"></path>
                                <path data-name="layer1" d="M20.088 48.555l-3.937-1.625a6.8 6.8 0 1 0 3.725-9.293l4.069 1.679a5.005 5.005 0 1 1-3.857 9.238zm30.489-24.803a8.055 8.055 0 1 0-8.054 8.04 8.059 8.059 0 0 0 8.054-8.04zm-14.093-.013a6.051 6.051 0 1 1 6.05 6.039 6.045 6.045 0 0 1-6.049-6.04z"
                                      fill="#202020"></path>
                            </svg>
                        </li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Baldur's Gate II: Enhanced Edition</a></h3>
                        <span>$38.99 <s>$59.99</s></span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>

                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/6.jpg" alt="">
                    </a>

                    <ul class="card__platforms">

                        <li class="xb"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M126.8,248.3c39.7-58.6,77.9-92.8,77.9-92.8s-42.1-48.9-92.8-67.4l-3.3-.8A224.13,224.13,0,0,0,77.2,391C77.2,386.6,77.8,320.7,126.8,248.3Z' /><path d='M480,256A223.71,223.71,0,0,0,403.4,87.3l-3.2.9c-50.7,18.5-92.9,67.4-92.9,67.4s38.2,34.2,77.9,92.8c49,72.4,49.6,138.3,49.5,142.7A222.8,222.8,0,0,0,480,256Z' /><path d='M201.2,80.9c29.3,13.1,54.6,34.6,54.6,34.6s25.5-21.4,54.8-34.6c36.8-16.5,64.9-11.3,72.3-9.5a224.06,224.06,0,0,0-253.8,0C136.3,69.6,164.3,64.3,201.2,80.9Z' /><path d='M358.7,292.9C312.4,236,255.8,199,255.8,199s-56.3,37-102.7,93.9c-39.8,48.9-54.6,84.8-62.6,107.8l-1.3,4.8a224,224,0,0,0,333.6,0l-1.4-4.8C413.4,377.7,398.5,341.8,358.7,292.9Z' /></svg></li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Baldur's Gate: Enhanced Edition</a></h3>
                        <span>$9.99 <s>$39.99</s></span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>

                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/6.jpg" alt="">
                    </a>

                    <ul class="card__platforms">

                        <li class="ps" style="background-color:white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Steam</title>
                                <path data-name="layer1"
                                      d="M31.945 0A32.028 32.028 0 0 0 0 29.433l17.181 7.091a9.021 9.021 0 0 1 5.106-1.574q.256 0 .505.014l7.642-11.057v-.155a12.088 12.088 0 1 1 12.088 12.07h-.275l-10.9 7.76c.007.144.012.288.012.429a9.075 9.075 0 0 1-17.97 1.786L1.1 40.72A32.047 32.047 0 1 0 31.945 0z"
                                      fill="#202020"></path>
                                <path data-name="layer1" d="M20.088 48.555l-3.937-1.625a6.8 6.8 0 1 0 3.725-9.293l4.069 1.679a5.005 5.005 0 1 1-3.857 9.238zm30.489-24.803a8.055 8.055 0 1 0-8.054 8.04 8.059 8.059 0 0 0 8.054-8.04zm-14.093-.013a6.051 6.051 0 1 1 6.05 6.039 6.045 6.045 0 0 1-6.049-6.04z"
                                      fill="#202020"></path>
                            </svg>
                        </li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Baldur's Gate: Enhanced Edition</a></h3>
                        <span>$39.99</span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>

                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/2.jpg" alt="">
                    </a>

                    <ul class="card__platforms">
                        <li class="ps" style="background-color:white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Steam</title>
                                <path data-name="layer1"
                                      d="M31.945 0A32.028 32.028 0 0 0 0 29.433l17.181 7.091a9.021 9.021 0 0 1 5.106-1.574q.256 0 .505.014l7.642-11.057v-.155a12.088 12.088 0 1 1 12.088 12.07h-.275l-10.9 7.76c.007.144.012.288.012.429a9.075 9.075 0 0 1-17.97 1.786L1.1 40.72A32.047 32.047 0 1 0 31.945 0z"
                                      fill="#202020"></path>
                                <path data-name="layer1" d="M20.088 48.555l-3.937-1.625a6.8 6.8 0 1 0 3.725-9.293l4.069 1.679a5.005 5.005 0 1 1-3.857 9.238zm30.489-24.803a8.055 8.055 0 1 0-8.054 8.04 8.059 8.059 0 0 0 8.054-8.04zm-14.093-.013a6.051 6.051 0 1 1 6.05 6.039 6.045 6.045 0 0 1-6.049-6.04z"
                                      fill="#202020"></path>
                            </svg>
                        </li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">SteamWorld Quest: Hand of Gilgamech</a></h3>
                        <span>$12.49</span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/4.jpg" alt="">

                    </a>

                    <ul class="card__platforms">

                        <li class="xb"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M126.8,248.3c39.7-58.6,77.9-92.8,77.9-92.8s-42.1-48.9-92.8-67.4l-3.3-.8A224.13,224.13,0,0,0,77.2,391C77.2,386.6,77.8,320.7,126.8,248.3Z' /><path d='M480,256A223.71,223.71,0,0,0,403.4,87.3l-3.2.9c-50.7,18.5-92.9,67.4-92.9,67.4s38.2,34.2,77.9,92.8c49,72.4,49.6,138.3,49.5,142.7A222.8,222.8,0,0,0,480,256Z' /><path d='M201.2,80.9c29.3,13.1,54.6,34.6,54.6,34.6s25.5-21.4,54.8-34.6c36.8-16.5,64.9-11.3,72.3-9.5a224.06,224.06,0,0,0-253.8,0C136.3,69.6,164.3,64.3,201.2,80.9Z' /><path d='M358.7,292.9C312.4,236,255.8,199,255.8,199s-56.3,37-102.7,93.9c-39.8,48.9-54.6,84.8-62.6,107.8l-1.3,4.8a224,224,0,0,0,333.6,0l-1.4-4.8C413.4,377.7,398.5,341.8,358.7,292.9Z' /></svg></li>

                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Outcast - Second Contact</a></h3>
                        <span>$34.99</span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Pre-order</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/9.jpg" alt="">

                    </a>

                    <ul class="card__platforms">
                        <li class="ps" style="background-color:white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Steam</title>
                                <path data-name="layer1"
                                      d="M31.945 0A32.028 32.028 0 0 0 0 29.433l17.181 7.091a9.021 9.021 0 0 1 5.106-1.574q.256 0 .505.014l7.642-11.057v-.155a12.088 12.088 0 1 1 12.088 12.07h-.275l-10.9 7.76c.007.144.012.288.012.429a9.075 9.075 0 0 1-17.97 1.786L1.1 40.72A32.047 32.047 0 1 0 31.945 0z"
                                      fill="#202020"></path>
                                <path data-name="layer1" d="M20.088 48.555l-3.937-1.625a6.8 6.8 0 1 0 3.725-9.293l4.069 1.679a5.005 5.005 0 1 1-3.857 9.238zm30.489-24.803a8.055 8.055 0 1 0-8.054 8.04 8.059 8.059 0 0 0 8.054-8.04zm-14.093-.013a6.051 6.051 0 1 1 6.05 6.039 6.045 6.045 0 0 1-6.049-6.04z"
                                      fill="#202020"></path>
                            </svg>
                        </li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">BioShock Infinite Complete Edition</a></h3>
                        <span>$55.99 <s>$79.99</s></span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/5.jpg" alt="">
                    </a>

                    <ul class="card__platforms">

                        <li class="xb"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M126.8,248.3c39.7-58.6,77.9-92.8,77.9-92.8s-42.1-48.9-92.8-67.4l-3.3-.8A224.13,224.13,0,0,0,77.2,391C77.2,386.6,77.8,320.7,126.8,248.3Z' /><path d='M480,256A223.71,223.71,0,0,0,403.4,87.3l-3.2.9c-50.7,18.5-92.9,67.4-92.9,67.4s38.2,34.2,77.9,92.8c49,72.4,49.6,138.3,49.5,142.7A222.8,222.8,0,0,0,480,256Z' /><path d='M201.2,80.9c29.3,13.1,54.6,34.6,54.6,34.6s25.5-21.4,54.8-34.6c36.8-16.5,64.9-11.3,72.3-9.5a224.06,224.06,0,0,0-253.8,0C136.3,69.6,164.3,64.3,201.2,80.9Z' /><path d='M358.7,292.9C312.4,236,255.8,199,255.8,199s-56.3,37-102.7,93.9c-39.8,48.9-54.6,84.8-62.6,107.8l-1.3,4.8a224,224,0,0,0,333.6,0l-1.4-4.8C413.4,377.7,398.5,341.8,358.7,292.9Z' /></svg></li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Desperados III Digital Deluxe Edition</a></h3>
                        <span>$49.00</span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/7.jpg" alt="">
                    </a>

                    <ul class="card__platforms">
                        <li class="ps" style="background-color:white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Steam</title>
                                <path data-name="layer1"
                                      d="M31.945 0A32.028 32.028 0 0 0 0 29.433l17.181 7.091a9.021 9.021 0 0 1 5.106-1.574q.256 0 .505.014l7.642-11.057v-.155a12.088 12.088 0 1 1 12.088 12.07h-.275l-10.9 7.76c.007.144.012.288.012.429a9.075 9.075 0 0 1-17.97 1.786L1.1 40.72A32.047 32.047 0 1 0 31.945 0z"
                                      fill="#202020"></path>
                                <path data-name="layer1" d="M20.088 48.555l-3.937-1.625a6.8 6.8 0 1 0 3.725-9.293l4.069 1.679a5.005 5.005 0 1 1-3.857 9.238zm30.489-24.803a8.055 8.055 0 1 0-8.054 8.04 8.059 8.059 0 0 0 8.054-8.04zm-14.093-.013a6.051 6.051 0 1 1 6.05 6.039 6.045 6.045 0 0 1-6.049-6.04z"
                                      fill="#202020"></path>
                            </svg>
                        </li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Red Dead Redemption 2</a></h3>
                        <span>$15.00</span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/8.jpg" alt="">

                    </a>

                    <ul class="card__platforms">
                        <li class="ps" style="background-color:white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Steam</title>
                                <path data-name="layer1"
                                      d="M31.945 0A32.028 32.028 0 0 0 0 29.433l17.181 7.091a9.021 9.021 0 0 1 5.106-1.574q.256 0 .505.014l7.642-11.057v-.155a12.088 12.088 0 1 1 12.088 12.07h-.275l-10.9 7.76c.007.144.012.288.012.429a9.075 9.075 0 0 1-17.97 1.786L1.1 40.72A32.047 32.047 0 1 0 31.945 0z"
                                      fill="#202020"></path>
                                <path data-name="layer1" d="M20.088 48.555l-3.937-1.625a6.8 6.8 0 1 0 3.725-9.293l4.069 1.679a5.005 5.005 0 1 1-3.857 9.238zm30.489-24.803a8.055 8.055 0 1 0-8.054 8.04 8.059 8.059 0 0 0 8.054-8.04zm-14.093-.013a6.051 6.051 0 1 1 6.05 6.039 6.045 6.045 0 0 1-6.049-6.04z"
                                      fill="#202020"></path>
                            </svg>
                        </li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Druidstone: The Secret of the Menhir Forest</a></h3>
                        <span>$12.49</span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/8.jpg" alt="">

                    </a>

                    <ul class="card__platforms">
                        <li>
                            <a title="Epic Games, Public domain, via Wikimedia Commons"
                               href="https://commons.wikimedia.org/wiki/File:Epic_games_store_logo.svg"><img width="20" alt="Epic games store logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Epic_games_store_logo.svg/32px-Epic_games_store_logo.svg.png"></a>
                        </li>

                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Druidstone: The Secret of the Menhir Forest</a></h3>
                        <span>$10.25</span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/3.jpg" alt="">
                    </a>

                    <ul class="card__platforms">
                        <li class="ps" style="background-color:white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Steam</title>
                                <path data-name="layer1"
                                      d="M31.945 0A32.028 32.028 0 0 0 0 29.433l17.181 7.091a9.021 9.021 0 0 1 5.106-1.574q.256 0 .505.014l7.642-11.057v-.155a12.088 12.088 0 1 1 12.088 12.07h-.275l-10.9 7.76c.007.144.012.288.012.429a9.075 9.075 0 0 1-17.97 1.786L1.1 40.72A32.047 32.047 0 1 0 31.945 0z"
                                      fill="#202020"></path>
                                <path data-name="layer1" d="M20.088 48.555l-3.937-1.625a6.8 6.8 0 1 0 3.725-9.293l4.069 1.679a5.005 5.005 0 1 1-3.857 9.238zm30.489-24.803a8.055 8.055 0 1 0-8.054 8.04 8.059 8.059 0 0 0 8.054-8.04zm-14.093-.013a6.051 6.051 0 1 1 6.05 6.039 6.045 6.045 0 0 1-6.049-6.04z"
                                      fill="#202020"></path>
                            </svg>
                        </li>
                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Baldur's Gate II: Enhanced Edition</a></h3>
                        <span>$38.99 <s>$59.99</s></span>
                    </div>

                    <div class="card__actions justify-content-center ">
                        <button class="card__buy" type="button">Buy</button>

                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- card -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                <div class="card card--catalog">
                    <a href="~/details.html" class="card__cover">
                        <img src="~/img/cards/6.jpg" alt="">
                    </a>

                    <ul class="card__platforms">

                        <li>
                            <a title="Epic Games, Public domain, via Wikimedia Commons"
                               href="https://commons.wikimedia.org/wiki/File:Epic_games_store_logo.svg"><img width="20" alt="Epic games store logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Epic_games_store_logo.svg/32px-Epic_games_store_logo.svg.png"></a>
                        </li>

                    </ul>

                    <div class="card__title">
                        <h3><a href="~/details.html">Baldur's Gate: Enhanced Edition</a></h3>
                        <span>$9.99 <s>$39.99</s></span>
                    </div>

                    <div class="card__actions  justify-content-center">
                        <button class="card__buy" type="button">Buy</button>
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- paginator -->
            <div class="col-12">
                <div class="paginator">
                    <div class="paginator__counter">
                        15 from 144
                    </div>

                    <ul class="paginator__wrap">
                        <li class="paginator__item paginator__item--prev">
                            <a href="~/#">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='244 400 100 256 244 112' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /><line x1='120' y1='256' x2='412' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                            </a>
                        </li>
                        <li class="paginator__item paginator__item--active"><a asp-controller="Home" asp-action="Categories">1</a></li>
                        <li class="paginator__item"><a asp-controller="Home" asp-action="Categories">2</a></li>
                        <li class="paginator__item"><a asp-controller="Home" asp-action="Categories">3</a></li>
                        <li class="paginator__item paginator__item--next">
                            <a asp-controller="Home" asp-action="Categories">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='268 112 412 256 268 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /><line x1='392' y1='256' x2='100' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end paginator -->
        </div>
        <!-- end catalog -->
    </div>
</section>
<!-- end section -->
