@{
	ViewData["Title"] = "Help Center";
}

<!-- page title -->
<section class="section section--first section--last section--head" data-bg="img/bg.jpg">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section__wrap">
					<!-- section title -->
					<h2 class="section__title">Help center</h2>
					<!-- end section title -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->
<!-- section -->
<section class="section section--last section--catalog">
	<div class="container">
		<div class="row catalog">
			<div class="col-12 col-lg-20">
				<div class="row">
					<div class="col-12">
						<!-- filter -->
						<div class="filter">
							<div class="filter__group">
								<label class="filter__label">Navigation:</label>
								<ul class="filter__nav">
									<li><a id="steam" class="active" href="#">Steam</a></li>
									<li><a id="origin" href="#">Origin</a></li>
									<li><a id="epic" href="#">Epic</a></li>
									<li><a id="ubisoft" href="#">Ubisoft</a></li>
									<li><a id="xbox" href="#">XBox One</a></li>
									<li><a id="ps5" href="#">Ps5</a></li>
								</ul>
							</div>
						</div>
						<!-- end filter -->
					</div>
				</div>
			</div>
			<!-- content wrap -->
			<div class="col-12 col-lg-80">
				<div class="row">
					<div class="col-12">
						<div class="faq">
							<h3 class="faq__title">Steam</h3>
							<ul class="faq__list">
								<li>Download the Steam Client<a href="https://store.steampowered.com/about/" target="_blank"> here</a>
								</li>
								<li>
									<img src="~/img/instructions/steam/1.png" alt="install" />
								</li>
								<li>
									<span>Log in to your Steam account and click on Games > Activate a Product on Steam.</span>
								</li>
								<li>
									<img src="~/img/instructions/steam/2.png" alt="login" />
								</li>
								<li>
									<span>Click Next when you see the Product Activation pop-up.</span>
								</li>
								<li>
									<img src="~/img/instructions/steam/3.png" alt="activation" />
								</li>
								<li>
									<span>Please Agree the Steam Subscriber Terms.</span>
								</li>
								<li>
									<img src="~/img/instructions/steam/4.png" alt="agreeTerms" />
								</li>
								<li>
									<span>In the ‘Product Code’ section, enter your unique code that’s displayed on the ‘Order’ page of your CDKeys account or on the link of your confirmation email if you had purchased as a guest and follow the prompts to activate.</span>
								</li>
								<li>
									<img src="~/img/instructions/steam/5.png" alt="enterCode" />
								</li>
								<li>
									<span>Your game is now viewable in the ‘Library’ tab and is available to download/install. You can find additional support for the Steam client <a href="https://help.steampowered.com/en/wizard/HelpWithSteam" target="_blank">here</a></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end content wrap -->
		</div>
	</div>
</section>
<!-- end section -->