@{
    ViewData["Title"] = "Home Page";
}

<!-- home -->
<section class="section section--bg section--first" data-bg="img/bg.jpg">
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <div class="section__title-wrap">
                    <h2 class="section__title section__title--title"><b>Best games</b> of this month</h2>

                    <div class="section__nav-wrap">
                        <button class="section__nav section__nav--bg section__nav--prev" type="button" data-nav="#carousel0">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='328 112 184 256 328 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>

                        <button class="section__nav section__nav--bg section__nav--next" type="button" data-nav="#carousel0">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='184 112 328 256 184 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- end title -->
        </div>
    </div>



    <!-- carousel -->
    <div class="owl-carousel section__carousel section__carousel--big" id="carousel0">
        <!-- big card -->
        <div class="card card--big">
            <a href="details.html" class="card__cover">
                <img src="img/cards/4.jpg" alt="">
            </a>

            <div class="card__wrap">
                <div class="card__title">
                    <h3><a href="details.html">X4: Foundations Collector's Edition</a></h3>
                </div>

                <ul class="card__list">
                    <li><span>Release date:</span> 30.11.2018</li>
                    <li><span>Genres:</span> Simulation, Action, Sci-fi</li>
                </ul>

                <ul class="card__platforms">
                    <li class="ps"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M399.77,203c-.8-17.1-3.3-34.5-10.8-50.1a82.45,82.45,0,0,0-16.5-23.2,105.59,105.59,0,0,0-21.3-16.3c-17.1-10.2-37.5-17-84.4-31S192,64,192,64V422.3l79.9,25.7s.1-198.8.1-299.5v-3.8c0-9.3,7.5-16.8,16.1-16.8h.5c8.5,0,15.5,7.5,15.5,16.8V278c11,5.3,29.2,9.3,41.8,9.1a47.79,47.79,0,0,0,24-5.7,49.11,49.11,0,0,0,18.4-17.8,78.64,78.64,0,0,0,9.9-27.3C400.07,225.5,400.17,214.2,399.77,203Z' /><path d='M86.67,357.8c27.4-9.8,89.3-29.5,89.3-29.5V281.1s-76.5,24.8-111.3,37.1c-8.6,3.1-17.3,5.9-25.7,9.5-9.8,4.1-19.4,8.7-28.1,14.8a26.29,26.29,0,0,0-9.2,10.1,17.36,17.36,0,0,0-.5,13.6c2,5.1,5.8,9.3,10.1,12.6,7.8,5.9,17.1,9.5,26.4,12.2a262.42,262.42,0,0,0,88.4,13.3c14.5-.2,36-1.9,50-4.4v-42s-11,2.5-41.3,12.5c-4.6,1.5-9.2,3.3-14,4.3a104.87,104.87,0,0,1-21.6,2.2c-6.5-.3-13.2-.7-19.3-3.1-2.2-1-4.6-2.2-5.5-4.6-.8-2,.3-4,1.7-5.4C78.87,360.9,82.87,359.3,86.67,357.8Z' /><path d='M512,345.9c-.1-6-3.7-11.2-7.9-15-7.1-6.3-15.9-10.3-24.7-13.5-5.5-1.9-9.3-3.3-14.7-5-25.2-8.2-51.9-11.2-78.3-11.3-8,.3-23.1.5-31,1.4-21.9,2.5-67.3,15.4-67.3,15.4v48.8s67.5-21.6,96.5-31.8a94.43,94.43,0,0,1,30.3-4.6c6.5.2,13.2.7,19.4,3.1,2.2.9,4.5,2.2,5.5,4.5.9,2.6-.9,5-2.9,6.5-4.7,3.8-10.7,5.3-16.2,7.4-41,14.5-132.7,44.7-132.7,44.7v47s117.2-39.6,170.8-58.8c8.9-3.3,17.9-6.1,26.4-10.4,7.9-4,15.8-8.6,21.8-15.3A19.74,19.74,0,0,0,512,345.9Z' /></svg></li>
                </ul>

                <div class="card__price">
                    <span>$59.99</span><s>$79.99</s><b>30% OFF</b>
                </div>

                <div class="card__actions">
                    <button class="card__buy" type="button">Buy now</button>
                </div>
            </div>
        </div>
        <!-- end big card -->
        <!-- big card -->
        <div class="card card--big">
            <a href="details.html" class="card__cover">
                <img src="img/cards/2.jpg" alt="">
            </a>

            <div class="card__wrap">
                <div class="card__title">
                    <h3><a href="details.html">The Witcher 3: Wild Hunt</a></h3>
                </div>

                <ul class="card__list">
                    <li><span>Release date:</span> 24.03.2016</li>
                    <li><span>Genres:</span> Action, Role Playing, Open World</li>
                </ul>

                <ul class="card__platforms">
                    <li class="xb"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M126.8,248.3c39.7-58.6,77.9-92.8,77.9-92.8s-42.1-48.9-92.8-67.4l-3.3-.8A224.13,224.13,0,0,0,77.2,391C77.2,386.6,77.8,320.7,126.8,248.3Z' /><path d='M480,256A223.71,223.71,0,0,0,403.4,87.3l-3.2.9c-50.7,18.5-92.9,67.4-92.9,67.4s38.2,34.2,77.9,92.8c49,72.4,49.6,138.3,49.5,142.7A222.8,222.8,0,0,0,480,256Z' /><path d='M201.2,80.9c29.3,13.1,54.6,34.6,54.6,34.6s25.5-21.4,54.8-34.6c36.8-16.5,64.9-11.3,72.3-9.5a224.06,224.06,0,0,0-253.8,0C136.3,69.6,164.3,64.3,201.2,80.9Z' /><path d='M358.7,292.9C312.4,236,255.8,199,255.8,199s-56.3,37-102.7,93.9c-39.8,48.9-54.6,84.8-62.6,107.8l-1.3,4.8a224,224,0,0,0,333.6,0l-1.4-4.8C413.4,377.7,398.5,341.8,358.7,292.9Z' /></svg></li>
                </ul>

                <div class="card__price">
                    <span>$15.36</span><s>$38.80</s><b>60% OFF</b>
                </div>

                <div class="card__actions">
                    <button class="card__buy" type="button">Buy now</button>
                </div>
            </div>
        </div>
        <!-- end big card -->
        <!-- big card -->
        <div class="card card--big">
            <a href="details.html" class="card__cover">
                <img src="img/cards/9.jpg" alt="">
            </a>

            <div class="card__wrap">
                <div class="card__title">
                    <h3><a href="details.html">The Legend of Heroes: Trails in the Sky SC</a></h3>
                </div>

                <ul class="card__list">
                    <li><span>Release date:</span> 07.12.2015</li>
                    <li><span>Genres:</span> Role-playing, Turn-based, Fantasy</li>
                </ul>

                <ul class="card__platforms">
                    <li class="wn"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M480,265H232V444l248,36V265Z' /><path d='M216,265H32V415l184,26.7V265Z' /><path d='M480,32,232,67.4V249H480V32Z' /><path d='M216,69.7,32,96V249H216V69.7Z' /></svg></li>
                </ul>

                <div class="card__price">
                    <span>$14.99</span><s>$29.99</s><b>50% OFF</b>
                </div>

                <div class="card__actions">
                    <button class="card__buy" type="button">Buy now</button>
                </div>
            </div>
        </div>
        <!-- end big card -->
        <!-- big card -->
        <div class="card card--big">
            <a href="details.html" class="card__cover">
                <img src="img/cards/5.jpg" alt="">
            </a>

            <div class="card__wrap">
                <div class="card__title">
                    <h3><a href="details.html">Pillars of Eternity: Hero Edition</a></h3>
                </div>

                <ul class="card__list">
                    <li><span>Release date:</span> 18.09.2019</li>
                    <li><span>Genres:</span> Role-playing, Adventure, Fantasy</li>
                </ul>

                <ul class="card__platforms">
                    <li>
                        <a title="Epic Games, Public domain, via Wikimedia Commons"
                           href="https://commons.wikimedia.org/wiki/File:Epic_games_store_logo.svg"><img width="20" alt="Epic games store logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Epic_games_store_logo.svg/32px-Epic_games_store_logo.svg.png">
                        </a>
                    </li>
                </ul>

                <div class="card__price">
                    <span>$17.99</span><s>$29.99</s><b>40% OFF</b>
                </div>

                <div class="card__actions">
                    <button class="card__buy" type="button">Buy now</button>
                </div>
            </div>
        </div>
        <!-- end big card -->
    </div>
    <!-- end carousel -->
</section>
<!-- end home -->
<!-- section -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <div class="section__title-wrap">
                    <h2 class="section__title">Latest releases</h2>

                    <div class="section__nav-wrap">
                        <a href="catalog.html" class="section__view">View All</a>

                        <button class="section__nav section__nav--prev" type="button" data-nav="#carousel1">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='328 112 184 256 328 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>

                        <button class="section__nav section__nav--next" type="button" data-nav="#carousel1">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='184 112 328 256 184 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- end title -->
        </div>
    </div>

    <!-- carousel -->
    <div class="owl-carousel section__carousel section__carousel--catalog" id="carousel1">
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/5.jpg" alt="">
                <span class="card__new">New</span>
            </a>

            <ul class="card__platforms">
                <li class="ps"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M399.77,203c-.8-17.1-3.3-34.5-10.8-50.1a82.45,82.45,0,0,0-16.5-23.2,105.59,105.59,0,0,0-21.3-16.3c-17.1-10.2-37.5-17-84.4-31S192,64,192,64V422.3l79.9,25.7s.1-198.8.1-299.5v-3.8c0-9.3,7.5-16.8,16.1-16.8h.5c8.5,0,15.5,7.5,15.5,16.8V278c11,5.3,29.2,9.3,41.8,9.1a47.79,47.79,0,0,0,24-5.7,49.11,49.11,0,0,0,18.4-17.8,78.64,78.64,0,0,0,9.9-27.3C400.07,225.5,400.17,214.2,399.77,203Z' /><path d='M86.67,357.8c27.4-9.8,89.3-29.5,89.3-29.5V281.1s-76.5,24.8-111.3,37.1c-8.6,3.1-17.3,5.9-25.7,9.5-9.8,4.1-19.4,8.7-28.1,14.8a26.29,26.29,0,0,0-9.2,10.1,17.36,17.36,0,0,0-.5,13.6c2,5.1,5.8,9.3,10.1,12.6,7.8,5.9,17.1,9.5,26.4,12.2a262.42,262.42,0,0,0,88.4,13.3c14.5-.2,36-1.9,50-4.4v-42s-11,2.5-41.3,12.5c-4.6,1.5-9.2,3.3-14,4.3a104.87,104.87,0,0,1-21.6,2.2c-6.5-.3-13.2-.7-19.3-3.1-2.2-1-4.6-2.2-5.5-4.6-.8-2,.3-4,1.7-5.4C78.87,360.9,82.87,359.3,86.67,357.8Z' /><path d='M512,345.9c-.1-6-3.7-11.2-7.9-15-7.1-6.3-15.9-10.3-24.7-13.5-5.5-1.9-9.3-3.3-14.7-5-25.2-8.2-51.9-11.2-78.3-11.3-8,.3-23.1.5-31,1.4-21.9,2.5-67.3,15.4-67.3,15.4v48.8s67.5-21.6,96.5-31.8a94.43,94.43,0,0,1,30.3-4.6c6.5.2,13.2.7,19.4,3.1,2.2.9,4.5,2.2,5.5,4.5.9,2.6-.9,5-2.9,6.5-4.7,3.8-10.7,5.3-16.2,7.4-41,14.5-132.7,44.7-132.7,44.7v47s117.2-39.6,170.8-58.8c8.9-3.3,17.9-6.1,26.4-10.4,7.9-4,15.8-8.6,21.8-15.3A19.74,19.74,0,0,0,512,345.9Z' /></svg></li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">Desperados III Digital Deluxe Edition</a></h3>
                <span>$49.00</span>
            </div>

            <div class="card__actions">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/7.jpg" alt="">
                <span class="card__new">New</span>
            </a>

            <ul class="card__platforms">
                <li class="wn"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M480,265H232V444l248,36V265Z' /><path d='M216,265H32V415l184,26.7V265Z' /><path d='M480,32,232,67.4V249H480V32Z' /><path d='M216,69.7,32,96V249H216V69.7Z' /></svg></li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">Red Dead Redemption 2</a></h3>
                <span>$34.99 <s>$49.99</s></span>
            </div>

            <div class="card__actions">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/1.jpg" alt="">
                <span class="card__new">New</span>
            </a>

            <ul class="card__platforms">
                <li class="xb"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M126.8,248.3c39.7-58.6,77.9-92.8,77.9-92.8s-42.1-48.9-92.8-67.4l-3.3-.8A224.13,224.13,0,0,0,77.2,391C77.2,386.6,77.8,320.7,126.8,248.3Z' /><path d='M480,256A223.71,223.71,0,0,0,403.4,87.3l-3.2.9c-50.7,18.5-92.9,67.4-92.9,67.4s38.2,34.2,77.9,92.8c49,72.4,49.6,138.3,49.5,142.7A222.8,222.8,0,0,0,480,256Z' /><path d='M201.2,80.9c29.3,13.1,54.6,34.6,54.6,34.6s25.5-21.4,54.8-34.6c36.8-16.5,64.9-11.3,72.3-9.5a224.06,224.06,0,0,0-253.8,0C136.3,69.6,164.3,64.3,201.2,80.9Z' /><path d='M358.7,292.9C312.4,236,255.8,199,255.8,199s-56.3,37-102.7,93.9c-39.8,48.9-54.6,84.8-62.6,107.8l-1.3,4.8a224,224,0,0,0,333.6,0l-1.4-4.8C413.4,377.7,398.5,341.8,358.7,292.9Z' /></svg></li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">Dandara: Trials of Fear Edition</a></h3>
                <span>$7.99 <s>$19.99</s></span>
            </div>

            <div class="card__actions">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/8.jpg" alt="">
                <span class="card__new">New</span>
            </a>

            <ul class="card__platforms">
                <li class="wn"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M480,265H232V444l248,36V265Z' /><path d='M216,265H32V415l184,26.7V265Z' /><path d='M480,32,232,67.4V249H480V32Z' /><path d='M216,69.7,32,96V249H216V69.7Z' /></svg></li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">Druidstone: The Secret of the Menhir Forest</a></h3>
                <span>$12.49</span>
            </div>

            <div class="card__actions">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/3.jpg" alt="">
                <span class="card__new">New</span>
            </a>

            <ul class="card__platforms">
                <li class="xb"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M126.8,248.3c39.7-58.6,77.9-92.8,77.9-92.8s-42.1-48.9-92.8-67.4l-3.3-.8A224.13,224.13,0,0,0,77.2,391C77.2,386.6,77.8,320.7,126.8,248.3Z' /><path d='M480,256A223.71,223.71,0,0,0,403.4,87.3l-3.2.9c-50.7,18.5-92.9,67.4-92.9,67.4s38.2,34.2,77.9,92.8c49,72.4,49.6,138.3,49.5,142.7A222.8,222.8,0,0,0,480,256Z' /><path d='M201.2,80.9c29.3,13.1,54.6,34.6,54.6,34.6s25.5-21.4,54.8-34.6c36.8-16.5,64.9-11.3,72.3-9.5a224.06,224.06,0,0,0-253.8,0C136.3,69.6,164.3,64.3,201.2,80.9Z' /><path d='M358.7,292.9C312.4,236,255.8,199,255.8,199s-56.3,37-102.7,93.9c-39.8,48.9-54.6,84.8-62.6,107.8l-1.3,4.8a224,224,0,0,0,333.6,0l-1.4-4.8C413.4,377.7,398.5,341.8,358.7,292.9Z' /></svg></li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">Baldur's Gate II: Enhanced Edition</a></h3>
                <span>$19.00</span>
            </div>

            <div class="card__actions">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end carousel -->
</section>
<!-- end section -->
<!-- section -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <div class="section__title-wrap">
                    <h2 class="section__title section__title--pre">Pre-Orders</h2>

                    <div class="section__nav-wrap">
                        <a href="catalog.html" class="section__view">View All</a>

                        <button class="section__nav section__nav--prev" type="button" data-nav="#carousel2">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='328 112 184 256 328 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>

                        <button class="section__nav section__nav--next" type="button" data-nav="#carousel2">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='184 112 328 256 184 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- end title -->
        </div>
    </div>

    <!-- carousel -->
    <div class="owl-carousel section__carousel section__carousel--catalog" id="carousel2">
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/6.jpg" alt="">
                <span class="card__preorder">Pre Order</span>
            </a>

            <ul class="card__platforms">
                <li class="xb"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M126.8,248.3c39.7-58.6,77.9-92.8,77.9-92.8s-42.1-48.9-92.8-67.4l-3.3-.8A224.13,224.13,0,0,0,77.2,391C77.2,386.6,77.8,320.7,126.8,248.3Z' /><path d='M480,256A223.71,223.71,0,0,0,403.4,87.3l-3.2.9c-50.7,18.5-92.9,67.4-92.9,67.4s38.2,34.2,77.9,92.8c49,72.4,49.6,138.3,49.5,142.7A222.8,222.8,0,0,0,480,256Z' /><path d='M201.2,80.9c29.3,13.1,54.6,34.6,54.6,34.6s25.5-21.4,54.8-34.6c36.8-16.5,64.9-11.3,72.3-9.5a224.06,224.06,0,0,0-253.8,0C136.3,69.6,164.3,64.3,201.2,80.9Z' /><path d='M358.7,292.9C312.4,236,255.8,199,255.8,199s-56.3,37-102.7,93.9c-39.8,48.9-54.6,84.8-62.6,107.8l-1.3,4.8a224,224,0,0,0,333.6,0l-1.4-4.8C413.4,377.7,398.5,341.8,358.7,292.9Z' /></svg></li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">Baldur's Gate: Enhanced Edition</a></h3>
                <span>$19.99</span>
            </div>

            <div class="card__actions">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/1.jpg" alt="">
                <span class="card__preorder">Pre Order</span>
            </a>

            <ul class="card__platforms">
                <li class="steam" style="background-color:white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                         aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Steam</title>
                        <path data-name="layer1"
                              d="M31.945 0A32.028 32.028 0 0 0 0 29.433l17.181 7.091a9.021 9.021 0 0 1 5.106-1.574q.256 0 .505.014l7.642-11.057v-.155a12.088 12.088 0 1 1 12.088 12.07h-.275l-10.9 7.76c.007.144.012.288.012.429a9.075 9.075 0 0 1-17.97 1.786L1.1 40.72A32.047 32.047 0 1 0 31.945 0z"
                              fill="#202020"></path>
                        <path data-name="layer1" d="M20.088 48.555l-3.937-1.625a6.8 6.8 0 1 0 3.725-9.293l4.069 1.679a5.005 5.005 0 1 1-3.857 9.238zm30.489-24.803a8.055 8.055 0 1 0-8.054 8.04 8.059 8.059 0 0 0 8.054-8.04zm-14.093-.013a6.051 6.051 0 1 1 6.05 6.039 6.045 6.045 0 0 1-6.049-6.04z"
                              fill="#202020"></path>
                    </svg>
                </li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">Dandara: Trials of Fear Edition</a></h3>
                <span>$7.99</span>
            </div>

            <div class="card__actions">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/2.jpg" alt="">
                <span class="card__preorder">Pre Order</span>
            </a>

            <ul class="card__platforms">
                <li class="steam" style="background-color:white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                         aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Steam</title>
                        <path data-name="layer1"
                              d="M31.945 0A32.028 32.028 0 0 0 0 29.433l17.181 7.091a9.021 9.021 0 0 1 5.106-1.574q.256 0 .505.014l7.642-11.057v-.155a12.088 12.088 0 1 1 12.088 12.07h-.275l-10.9 7.76c.007.144.012.288.012.429a9.075 9.075 0 0 1-17.97 1.786L1.1 40.72A32.047 32.047 0 1 0 31.945 0z"
                              fill="#202020"></path>
                        <path data-name="layer1" d="M20.088 48.555l-3.937-1.625a6.8 6.8 0 1 0 3.725-9.293l4.069 1.679a5.005 5.005 0 1 1-3.857 9.238zm30.489-24.803a8.055 8.055 0 1 0-8.054 8.04 8.059 8.059 0 0 0 8.054-8.04zm-14.093-.013a6.051 6.051 0 1 1 6.05 6.039 6.045 6.045 0 0 1-6.049-6.04z"
                              fill="#202020"></path>
                    </svg>
                </li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">SteamWorld Quest: Hand of Gilgamech</a></h3>
                <span>$12.49</span>
            </div>

            <div class="card__actions">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/9.jpg" alt="">
                <span class="card__preorder">Pre Order</span>
            </a>

            <ul class="card__platforms">
                <li class="wn"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M480,265H232V444l248,36V265Z' /><path d='M216,265H32V415l184,26.7V265Z' /><path d='M480,32,232,67.4V249H480V32Z' /><path d='M216,69.7,32,96V249H216V69.7Z' /></svg></li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">BioShock Infinite Complete Edition</a></h3>
                <span>$55.99 <s>$79.99</s></span>
            </div>

            <div class="card__actions">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/4.jpg" alt="">
                <span class="card__preorder">Pre Order</span>
            </a>

            <ul class="card__platforms">
                <li class="xb"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M126.8,248.3c39.7-58.6,77.9-92.8,77.9-92.8s-42.1-48.9-92.8-67.4l-3.3-.8A224.13,224.13,0,0,0,77.2,391C77.2,386.6,77.8,320.7,126.8,248.3Z' /><path d='M480,256A223.71,223.71,0,0,0,403.4,87.3l-3.2.9c-50.7,18.5-92.9,67.4-92.9,67.4s38.2,34.2,77.9,92.8c49,72.4,49.6,138.3,49.5,142.7A222.8,222.8,0,0,0,480,256Z' /><path d='M201.2,80.9c29.3,13.1,54.6,34.6,54.6,34.6s25.5-21.4,54.8-34.6c36.8-16.5,64.9-11.3,72.3-9.5a224.06,224.06,0,0,0-253.8,0C136.3,69.6,164.3,64.3,201.2,80.9Z' /><path d='M358.7,292.9C312.4,236,255.8,199,255.8,199s-56.3,37-102.7,93.9c-39.8,48.9-54.6,84.8-62.6,107.8l-1.3,4.8a224,224,0,0,0,333.6,0l-1.4-4.8C413.4,377.7,398.5,341.8,358.7,292.9Z' /></svg></li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">Outcast - Second Contact</a></h3>
                <span>$34.99</span>
            </div>

            <div class="card__actions">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end carousel -->
</section>
<!-- end section -->
<!-- section -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <div class="section__title-wrap">
                    <h2 class="section__title section__title--pre">On Sale</h2>

                    <div class="section__nav-wrap">
                        <a href="catalog.html" class="section__view">View All</a>

                        <button class="section__nav section__nav--prev" type="button" data-nav="#carousel3">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='328 112 184 256 328 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>

                        <button class="section__nav section__nav--next" type="button" data-nav="#carousel3">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='184 112 328 256 184 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- end title -->
        </div>
    </div>

    <!-- carousel -->
    <div class="owl-carousel section__carousel section__carousel--catalog" id="carousel3">
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/6.jpg" alt="">
                <span class="card__preorder">On-Sale</span>
            </a>

            <ul class="card__platforms">
                <li class="xb"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M126.8,248.3c39.7-58.6,77.9-92.8,77.9-92.8s-42.1-48.9-92.8-67.4l-3.3-.8A224.13,224.13,0,0,0,77.2,391C77.2,386.6,77.8,320.7,126.8,248.3Z' /><path d='M480,256A223.71,223.71,0,0,0,403.4,87.3l-3.2.9c-50.7,18.5-92.9,67.4-92.9,67.4s38.2,34.2,77.9,92.8c49,72.4,49.6,138.3,49.5,142.7A222.8,222.8,0,0,0,480,256Z' /><path d='M201.2,80.9c29.3,13.1,54.6,34.6,54.6,34.6s25.5-21.4,54.8-34.6c36.8-16.5,64.9-11.3,72.3-9.5a224.06,224.06,0,0,0-253.8,0C136.3,69.6,164.3,64.3,201.2,80.9Z' /><path d='M358.7,292.9C312.4,236,255.8,199,255.8,199s-56.3,37-102.7,93.9c-39.8,48.9-54.6,84.8-62.6,107.8l-1.3,4.8a224,224,0,0,0,333.6,0l-1.4-4.8C413.4,377.7,398.5,341.8,358.7,292.9Z' /></svg></li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">Baldur's Gate: Enhanced Edition</a></h3>
                <span>$55.99 <s>$79.99</s></span>
            </div>

            <div class="card__actions">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/1.jpg" alt="">
                <span class="card__preorder">On-Sale</span>
            </a>

            <ul class="card__platforms">
                <li class="xb"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M126.8,248.3c39.7-58.6,77.9-92.8,77.9-92.8s-42.1-48.9-92.8-67.4l-3.3-.8A224.13,224.13,0,0,0,77.2,391C77.2,386.6,77.8,320.7,126.8,248.3Z' /><path d='M480,256A223.71,223.71,0,0,0,403.4,87.3l-3.2.9c-50.7,18.5-92.9,67.4-92.9,67.4s38.2,34.2,77.9,92.8c49,72.4,49.6,138.3,49.5,142.7A222.8,222.8,0,0,0,480,256Z' /><path d='M201.2,80.9c29.3,13.1,54.6,34.6,54.6,34.6s25.5-21.4,54.8-34.6c36.8-16.5,64.9-11.3,72.3-9.5a224.06,224.06,0,0,0-253.8,0C136.3,69.6,164.3,64.3,201.2,80.9Z' /><path d='M358.7,292.9C312.4,236,255.8,199,255.8,199s-56.3,37-102.7,93.9c-39.8,48.9-54.6,84.8-62.6,107.8l-1.3,4.8a224,224,0,0,0,333.6,0l-1.4-4.8C413.4,377.7,398.5,341.8,358.7,292.9Z' /></svg></li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">Dandara: Trials of Fear Edition</a></h3>
                <span>$5.99 <s>$79.99</s></span>
            </div>

            <div class="card__actions">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/2.jpg" alt="">
                <span class="card__preorder">On-Sale</span>
            </a>

            <ul class="card__platforms">
                <li class="steam" style="background-color:white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                         aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Steam</title>
                        <path data-name="layer1"
                              d="M31.945 0A32.028 32.028 0 0 0 0 29.433l17.181 7.091a9.021 9.021 0 0 1 5.106-1.574q.256 0 .505.014l7.642-11.057v-.155a12.088 12.088 0 1 1 12.088 12.07h-.275l-10.9 7.76c.007.144.012.288.012.429a9.075 9.075 0 0 1-17.97 1.786L1.1 40.72A32.047 32.047 0 1 0 31.945 0z"
                              fill="#202020"></path>
                        <path data-name="layer1" d="M20.088 48.555l-3.937-1.625a6.8 6.8 0 1 0 3.725-9.293l4.069 1.679a5.005 5.005 0 1 1-3.857 9.238zm30.489-24.803a8.055 8.055 0 1 0-8.054 8.04 8.059 8.059 0 0 0 8.054-8.04zm-14.093-.013a6.051 6.051 0 1 1 6.05 6.039 6.045 6.045 0 0 1-6.049-6.04z"
                              fill="#202020"></path>
                    </svg>
                </li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">SteamWorld Quest: Hand of Gilgamech</a></h3>
                <span>$10.99 <s>$49.99</s></span>
            </div>

            <div class="card__actions">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/9.jpg" alt="">
                <span class="card__preorder">On-Sale</span>
            </a>

            <ul class="card__platforms">
                <li class="wn"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M480,265H232V444l248,36V265Z' /><path d='M216,265H32V415l184,26.7V265Z' /><path d='M480,32,232,67.4V249H480V32Z' /><path d='M216,69.7,32,96V249H216V69.7Z' /></svg></li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">BioShock Infinite Complete Edition</a></h3>
                <span>$55.99 <s>$79.99</s></span>
            </div>

            <div class="card__actions">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
        <!-- card -->
        <div class="card">
            <a href="details.html" class="card__cover">
                <img src="img/cards/4.jpg" alt="">
                <span class="card__preorder">On-Sale</span>
            </a>

            <ul class="card__platforms">
                <li class="steam" style="background-color:white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                         aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Steam</title>
                        <path data-name="layer1"
                              d="M31.945 0A32.028 32.028 0 0 0 0 29.433l17.181 7.091a9.021 9.021 0 0 1 5.106-1.574q.256 0 .505.014l7.642-11.057v-.155a12.088 12.088 0 1 1 12.088 12.07h-.275l-10.9 7.76c.007.144.012.288.012.429a9.075 9.075 0 0 1-17.97 1.786L1.1 40.72A32.047 32.047 0 1 0 31.945 0z"
                              fill="#202020"></path>
                        <path data-name="layer1" d="M20.088 48.555l-3.937-1.625a6.8 6.8 0 1 0 3.725-9.293l4.069 1.679a5.005 5.005 0 1 1-3.857 9.238zm30.489-24.803a8.055 8.055 0 1 0-8.054 8.04 8.059 8.059 0 0 0 8.054-8.04zm-14.093-.013a6.051 6.051 0 1 1 6.05 6.039 6.045 6.045 0 0 1-6.049-6.04z"
                              fill="#202020"></path>
                    </svg>
                </li>
            </ul>

            <div class="card__title">
                <h3><a href="details.html">Outcast - Second Contact</a></h3>
                <span>$34.99 <s>$509.99</s></span>
            </div>

            <div class="card__actions justify-content-center">
                <button class="card__buy" type="button">Buy Now</button>
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end carousel -->
</section>
<!-- end section -->
<!-- section -->
<div class="section section--last">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners owl-carousel">
                    <a href="#" class="partners__img">
                        <img src="~/img/partners/steam.png" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="~/img/partners/epic.png" class="w-50" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="~/img/partners/origin.png" class="w-50" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="~/img/partners/ps5.png" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="~/img/partners/ubisoft.png" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="~/img/partners/xbox.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
