@page
@model OrderModel
@{
    ViewData["Title"] = "Orders";
    ViewData["ActivePage"] = ManageNavPages.Order;
}

<div class="container">
    <!-- content tabs -->
    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive table-responsive--border">
                        <table class="profile__table">
                            <thead>
                                <tr class="row mx-0 ">
                                    <th class="col-2">Order №</th>
                                    <th class="col-3">Date</th>
                                    <th class="col-3">Price</th>
                                    <th class="col-2">Key Quantity</th>
                                    <th class="col-2">Order Detail</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in @Model.Input.OrderViewModels)
                                {
                                    <tr class="row mx-0">
                                        <td class="col-2">@item.OrderId</td>
                                        <td class="col-3"><span class="profile__status">@item.OrderDate</span></td>
                                        <td class="col-3"><span class="profile__price">$@item.TotalPrice</span></td>
                                        <td class="col-2"><span class="profile__status">@item.KeyQuantity</span></td>
                                        <td class="col-2"><a href="#modal-info" class="open-modal">Show Keys</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- modal info -->
<div id="modal-info" class="zoom-anim-dialog mfp-hide modal">
    <button class="modal__close" type="button"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><line x1='368' y1='368' x2='144' y2='144' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px' /><line x1='368' y1='144' x2='144' y2='368' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px' /></svg></button>


    <table class="profile__table">
        <thead>
            <tr class="row">
                <th class="col-2">Platform</th>
                <th class="col-3">Game</th>
                <th class="col-2">Price</th>
                <th class="col-5">Key</th>
            </tr>
        </thead>

        <tbody>
            <tr class="row">
                <td class="col-2">Steam</td>
                <td class="col-3"><span class="profile__status">FIFA 22</span></td>
                <td class="col-2"><span class="profile__price">$49.00</span></td>
                <td class="col-5"><span class="profile__status">4324-1234-5565-5466-4324-1234-5565-5466</span></td>
            </tr>
            <tr class="row">
                <td class="col-2">Steam</td>
                <td class="col-3"><span class="profile__status">FIFA 22</span></td>
                <td class="col-2"><span class="profile__price">$49.00</span></td>
                <td class="col-5"><span class="profile__status">4324-1234-5565-5466-4324-1234-5565-5466</span></td>
            </tr>
            <tr class="row">
                <td class="col-2">Steam</td>
                <td class="col-3"><span class="profile__status">FIFA 22</span></td>
                <td class="col-2"><span class="profile__price">$49.00</span></td>
                <td class="col-5"><span class="profile__status">4324-1234-5565-5466-4324-1234-5565-5466</span></td>
            </tr>
        </tbody>
    </table>
        @*    <h4 class="modal__title">Receipt</h4>

        <div class="modal__group">
        <label class="modal__label" for="value">Total cost:</label>
        <span class="modal__value">$59.00</span>
        </div>

        <div class="modal__group">
        <label class="modal__label" for="method">Payment method: <b>Paypal</b></label>

        <span class="modal__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</span>
        </div>*@
</div>
<!-- end modal info -->
@section Scripts {
<partial name="_ValidationScriptsPartial" />

}