@page
@model PersonalDataModel
@{
	ViewData["Title"] = "Personal Data";
	ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row form mx-0">
	<div class="col-md-6" style="color:white">
		<p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
		<p style="color: #a782e9">
			<strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
		</p>
		<form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group my-3">
			<button class="form__btn p-1" style="color:white" type="submit">Download</button>
		</form>
		<p>
			<a id="delete" asp-page="DeletePersonalData" class="form__btn">Delete</a>
		</p>
	</div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
