@model OrderCompleteViewModel

@{
	ViewData["Title"] = "Order Completed";
}
<section class="section section__last">
    <div class="container">
        <div class="m-10 p-5" style="text-align: center;">
            <img src="~/img/complete.png" width="200">
            <h3 class="details__title" style="color: #A782E9; font-size: 35px; ">Your order is complete!</h3>
            <h3 class="section__title" style="font-size:20px">
                You will be receiving an email with order details.
                Please check your inbox and spam folder to get
                your keys.<br />Also you can check your keys from the My Orders page on your account page.
            </h3>

        </div>
    </div>
</section>
