@model OrderCompleteViewModel

@{
	ViewData["Title"] = "Order Completed";
}
<section class="section section__last">
	<div class="container">
		<h1 class="section__title">Order has completed successfully. Please check your inbox and spam folder to get your keys.</h1>
	</div>
</section>
