@using Microsoft.AspNetCore.Identity
@using Infrastructure.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="header__nav" style="margin-left:auto; margin-right:0">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="header__nav-item">
            <a class="header__nav-link" style="text-align: center; font-size: .85rem;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Account</a>
        </li>
        <li class="header__nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="header__nav-link" style="color: #fff;">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="header__nav-item">
            <a class="header__nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
